# JSON  exercises

In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [2]:
# load as Pandas dataframe
df = pd.read_json('data/world_bank_projects.json')

### q1. Find the 10 countries with most projects

In [3]:
df.countryshortname.value_counts()[:10]

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Nepal                 12
Bangladesh            12
Mozambique            11
Africa                11
dtype: int64

### q2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [4]:
data=json.load((open('data/world_bank_projects.json')))

In [5]:
projectsDf=json_normalize(data, 'mjtheme_namecode')
print (projectsDf.shape)
projectsDf.head(10)

(1499, 2)

  code                                          name
0    8                             Human development
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

In [6]:
projectsDf.name.value_counts()[:10]

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

###q3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [7]:
#First let's make a data frame which has all code and name for all items 
dictionatyDf=projectsDf[projectsDf.name.str.len()>0]# select only not empty rows
dictionatyDf.drop_duplicates(inplace=True)#leave only unique codes
dictionatyDf

/home/ubuntu/anaconda3/lib/python3.4/site-packages/pandas/util/decorators.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return func(*args, **kwargs)

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

In [8]:
# now make a new data frame where column 'name' is created using dictionaryDf
finDf=projectsDf[['code']].merge(dictionatyDf,how='left', on='code')
print (finDf.shape) # integrity check. Shape of finDf should be the as shape of projectsDf : (1499,2)
finDf.head(10)

(1499, 2)

  code                                          name
0    8                             Human development
1   11  Environment and natural resources management
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

In [9]:
#check whether we still have empy names
finDf[finDf.name.str.len()==0]

Empty DataFrame
Columns: [code, name]
Index: []

#Done!